/* Global */
a {
  color: #D46B03;
}
.more {
  color: #fff;
  opacity: 0.7;
  bottom: 40px;
  left: 50%;
  margin: 0 0 0 -2em;
  position: absolute;
  width: 4em;
  z-index: 1;
  text-decoration: none;
  transition: opacity 1s ease;
  text-align: center;
}
.more:hover {
  transition: opacity 1s ease;
  opacity: 1;
}
.more:hover,
.more:active,
.more:focus {  
  color: #fff;
}
.cf:before,
.cf:after {
  content: "";
  display: table; /* margin блока внутри div включается в размер div*/
}
.line {
  background-color: #FC8D21;
  height: 5px;
}
/* Header */

.logo {
  background-image: url("../img/logo1.png");
}
.logoname {
  background-image: url("../img/logo2.png");
}
.logo,
.logoname {
  background-size: contain;
}
.logo,
.logoname,
.item1,
.item2,
.item3,
.item4,
.intro {
  background-position: center;
  background-repeat: no-repeat;
}
.intro {
  height:100vh; 
  background: url(../img/slide4.jpg);
  background-size: cover;
}
.contact {
  padding-top: 20px;
}
.mast-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
}
.mast-nav .container .row {
  padding-top: 20px; 
  padding-bottom: 15px;
}

.navbar {
  width: 100%;
}

/* Slides */

#slide {
  position: relative;
}
.item1,
.item2,
.item3,
.item4 {  
  background-size: cover;
  text-align: center;
}
.item1 img,
.item2 img,
.item3 img,
.item4 img {
  width: auto;
  height: 100vh;
}
.carousel-caption {
  bottom: 39%;
}
.carousel-item-next, 
.carousel-item-prev, 
.carousel-item.active {
  display:block
}
@media (max-width: 576px) {
  .cont-mast {
    margin-left: 0;
  }  
  .more,
  .logoname {
    display: none;
  }
  .mast-nav .container .row {
    padding: 10px 0 5px 15px;
  }
}

@media (max-width: 768px) {
  .intro {
    display: none;
  }
  .mast-nav {
    position: relative;
  }
  .item1,
  .item2,
  .item3,
  .item4 {
    height: auto;
  }
  .item1 img,
  .item2 img,
  .item3 img,
  .item4 img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
}

@media (min-width: 576px) {
  .navbar-toggleable-md>.cont-mast {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .item1 img,
  .item2 img,
  .item3 img,
  .item4 img {
    margin: 0 -50% 0 -50%;
  }
}

/* Main */

.about {
  padding: 50px 30px;
  text-align: justify;
}

@media (max-width: 768px) {
  .about {
    padding-left: 0;
    padding-right: 0;
  }
}

.head {
  padding-top: 18px;
  padding-bottom: 10px;
  text-align: center; 
  background-color: #eee;
  text-transform: uppercase;
}
.icon {
  text-align: center;  
}
.icons i {
  color: #FC8D21;
  padding-bottom: 20px;
}
.advant {
  padding-top: 50px;
}
.btn-more {
  text-align: center; 
  margin-bottom: 50px;
  margin-top: 40px;
}
.btn-more a {
  text-transform: uppercase;
}

#two {
  padding-bottom: 50px;
}

.partners {
  background-color: #FFBA75;
  padding-top: 20px;
  padding-bottom: 60px;
}
.partners h3 {
  text-align: center;
  text-transform: uppercase; 
  padding-bottom: 20px;
  color: #fff;
}
.carousel-indicators {
  bottom: -50px;
}
.partners .partn-mob .row {
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  #carouselPartn {
    display: none;
  }
  .partners {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .partn-mob {
    display: none;
  }
}

/* Footer */

#footer {
  background-color: #f7f7f7; 
  padding: 50px 0;
}

@media (max-width: 576px) {
  #footer {
    text-align: center;
  }
}
