/* Global */
a {
  color: #D46B03;
}
.more {
  color: #fff;
  opacity: 0.7;
  bottom: 40px;
  left: 50%;
  margin: 0 0 0 -2em;
  position: absolute;
  width: 4em;
  z-index: 1;
  text-decoration: none;
  transition: opacity 1s ease;
  text-align: center;
}
.more:hover {
  transition: opacity 1s ease;
  opacity: 1;
}
.more:hover,
.more:active,
.more:focus {  
  color: #fff;
}
.cf:before,
.cf:after {
  content: "";
  display: table; /* margin блока внутри div включается в размер div*/
}
.line {
  background-color: #FC8D21;
  height: 5px;
}
/* Header */

.logo {
  background-image: url("../img/logo1.png");
}
.logoname {
  background-image: url("../img/logo2.png");
}
.logo,
.logoname {
  background-size: contain;
}
.logo,
.logoname,
.item1,
.item2,
.item3,
.item4,
.intro {
  background-position: center;
  background-repeat: no-repeat;
}
.intro {
  height:100vh; 
  background: url(../img/slide4.jpg);
  background-size: cover;
}
.contact {
  padding-top: 20px;
}
.mast-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
}
.mast-nav .container .row {
  padding-top: 20px; 
  padding-bottom: 15px;
}

.navbar {
  width: 100%;
}

/* Slides */

#slide {
  position: relative;
}
.item1,
.item2,
.item3,
.item4 {  
  background-size: cover;
  text-align: center;
}
.item1 img,
.item2 img,
.item3 img,
.item4 img {
  width: auto;
  height: 100vh;
}
.carousel-caption {
  bottom: 39%;
}
.carousel-item-next, 
.carousel-item-prev, 
.carousel-item.active {
  display:block
}
@media (max-width: 576px) {
  .cont-mast {
    margin-left: 0;
  }  
  .more,
  .logoname {
    display: none;
  }
  .mast-nav .container .row {
    padding: 10px 0 5px 15px;
  }
}

@media (max-width: 768px) {
  .intro {
    display: none;
  }
  .mast-nav {
    position: relative;
  }
  .item1,
  .item2,
  .item3,
  .item4 {
    height: auto;
  }
  .item1 img,
  .item2 img,
  .item3 img,
  .item4 img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
}

@media (min-width: 576px) {
  .navbar-toggleable-md>.cont-mast {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .item1 img,
  .item2 img,
  .item3 img,
  .item4 img {
    margin: 0 -50% 0 -50%;
  }
}

/* Main */

.about {
  padding: 50px 0;
  text-align: justify;
}

.head {
  padding-top: 18px;
  padding-bottom: 10px;
  text-align: center; 
  background-color: #eee;
  text-transform: uppercase;
}
.icon {
  text-align: center;  
}
.icons i {
  color: #FC8D21;
  padding-bottom: 20px;
}
.advant {
  padding-top: 50px;
}
.btn-more {
  text-align: center; 
  margin-bottom: 50px;
  margin-top: 40px;
}
.btn-more a {
  text-transform: uppercase;
}

#one {
  padding-bottom: 50px;
}

.partners {
  background-color: #FFBA75;
  padding-top: 20px;
  padding-bottom: 80px;
}
.partners h3 {
  text-align: center;
  text-transform: uppercase; 
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}
.carousel-indicators {
  bottom: -70px;
}
.partners .partn-mob .row {
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  #carouselPartn {
    display: none;
  }
  .partners {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .partn-mob {
    display: none;
  }
}

/* Footer */

#footer {
  background-color: #f7f7f7; 
  padding: 50px 0;
}

@media (max-width: 576px) {
  #footer {
    text-align: center;
  }
}

/*.direction {
  display: flex; 
  position: relative; 
  overflow: hidden;
  width: 100%;
  
}

.direction-bg {
  background-color: #FFBA75;
}

.left {
  z-index: 1;
  background-color: #fff;
  width:70%;
}

.right {
  display: flex; 
  align-items: center; 
  justify-content: center;
  width:30%;
  z-index: 7;
  background-color: #FFBA75;
}

.box {
  position:absolute; 
  transform:rotate(110deg); 
  background-color: #FFBA75; 
  height: 150px; 
  width: 900px;
  right: -40px;
  z-index: 2;
}

.list-directions {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.list-directions li {
  padding: 20px;
  text-transform: uppercase;
}*/

.direction {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
}

.icon-direction img {
  height: 100px;
  width: auto;
  margin-bottom: 30px;
}

.item-direct {
  height: 280px;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #FC8D21;
  margin-bottom: 30px;
  text-transform: uppercase;  
  transition: .5s background-color ease;
}

.item-direct:hover {
  background-color: #FFBA75;
}